.navBar {
  font-family: "Chivo Mono", monospace;
}

.profile-container{
 display:flex;
 justify-content: center;
 align-items: center;
 margin: auto;
 padding:175px;
}

.profile-content{
  color:white;
  font-family: "Chivo Mono", monospace;
  text-align: center;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr, 3fr, 3fr;
  margin: 0;
  padding: 1rem;
  background-color: rgb(15, 22, 43);
  color: white;
  flex: 1;
}

.singleFilm-container {
  background-color: rgb(15, 22, 43);
  color: white;
  font-size: 18px;
  margin: 0;
  padding: 1rem;
  flex: 1;
}

.movie-content {
  padding: 15px;
  text-align: center;
  font-family: "Chivo Mono", monospace;
}

.movie-image {
  width: 42vh;
  max-width: 80%;
  height: 60vh;
  border-radius: 60px;
  flex: 1;
}

.movie-image:hover{
  transform:scale(1.1);
}

.movie-title {
  text-align: center;
  width: 20vh;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


.login-button{
  padding: 25px;
  background-color:white;
  border-radius: 8px;
  font-family: "Chivo Mono", monospace;
}

.buttons{
  display: flex;
  justify-content: center;
  font-family:"Chivo Mono", monospace ;
  background-color:white;
  border-radius: 8px;
}

.page-button-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:auto;
  padding:10px;

}

.refresh-button{
  margin:auto;
  
}

@media only screen and (max-width: 992px) {
  .movie-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
}

@media only screen and (max-width: 420px) {
  .movie-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
